.user-input {
    background-color: #f2f2f2;
}

.error {
    background-color: #f76c5e;
}

#sudoku-board {
    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    /* border-right: solid; */
}

td {
    height: 40px;
    width: 40px;
    border: 1px solid;
    text-align: center;

    /* border-left: solid;
    border-right: solid;
    border-top: solid;
    border-bottom: solid; */
    /* padding: 0; */
}


body {
    font-size: 100%;
    text-align: center;
}

td:nth-child(3n) {
    border-right: solid;
    /* border: 4px; */
}

tr:nth-child(3n) {
    border-bottom: solid;
}

.num-palette {
    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.num-palette-row {
    border: 2px solid #000000;
    border-collapse: collapse;
}

#num {
    /* width: 60px; */
    /* height: 60px; */
    border: 2px solid;
    text-align: center;
    padding: 0;
}

.sudoku-icon {
    height: 35px;
    width: 50px;
    padding-right: 10px;
}
.nav {
    width: 100%;
}

.navbar {
    width: 100%;
    font-family: sans-serif;
    background-color: #292929;
}

.nav-link {
    color: white;
}
.navbar-brand {
    text-decoration: none;
    color: white;
}